/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;500&display=swap");
/* MISC */
/* VARIABLE */
/* Palette */
/* Font Sizes */
/* Spacing */
@keyframes scale-up {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes bobble {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0px); } }

/*
* Search input
*/
.search-box {
  background: #111111;
  height: 50px;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-input {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: #FFFFFF;
  float: left;
  font-size: 16px;
  transition: 0.3s;
  line-height: 40px; }
  .search-input::placeholder {
    color: #FFFFFF; }

.search-btn {
  color: #FFFFFF;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 60px;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s; }

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 250px;
  padding: 0 10px; }

.search-box:hover > .search-input {
  width: 280px;
  padding: 0 15px; }

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #FFFFFF;
  color: #111111; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #111111;
  background-color: #ffffff;
  overflow-x: hidden; }

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0; }

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0; }

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -0.015em;
  color: #111111;
  margin: 0; }

p {
  margin: 0; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  text-decoration: none;
  color: #111111; }
  a :hover {
    color: #111111; }

button {
  background: none;
  border: none;
  cursor: pointer; }

/* PARTIALS */
header {
  padding: 0.8rem 2.5rem;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 7px #7b7b7b;
  position: fixed;
  z-index: 999; }
  header .navbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto; }
    header .navbar .navbar-toggle {
      display: flex;
      justify-items: flex-start;
      position: absolute;
      left: 0%;
      transform: translateY(0%); }
    header .navbar .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #FFFFFF;
      position: fixed;
      top: 70px;
      width: 100%;
      height: 14rem;
      box-shadow: 0 4px 7px -5px #7b7b7b;
      padding: 2rem;
      margin: 0 auto;
      gap: 1rem;
      overflow-y: auto;
      right: 0;
      transition: right 0.3s;
      z-index: 10; }
      header .navbar .menu__items:hover {
        animation: scale-up 0.5s linear both;
        font-weight: 500;
        background: #010101;
        border-radius: 2em;
        padding: 1px 1.2em;
        text-align: center; }
      header .navbar .menu__link:hover {
        color: #FFFFFF; }
      header .navbar .menu_visible {
        right: 100%; }
    header .navbar .container-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(15%); }
    header .navbar .logo-container {
      position: absolute;
      left: 100%;
      transform: translateX(-100%) translateY(0%);
      display: flex;
      align-items: center;
      justify-items: flex-end;
      justify-content: space-between;
      width: 8rem; }
      header .navbar .logo-container .icons-header {
        width: 3.5rem;
        height: auto; }
        header .navbar .logo-container .icons-header .user-btn {
          color: #FFFFFF;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #111111;
          display: flex;
          justify-content: center;
          align-items: center; }
          header .navbar .logo-container .icons-header .user-btn .fa-user {
            color: #FFFFFF; }
        header .navbar .logo-container .icons-header .login-text {
          display: none; }

@media screen and (min-width: 768px) {
  header .navbar .navbar-toggle {
    display: none; }
  header .navbar .menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0%;
    transform: translateY(-75px);
    background: none;
    box-shadow: none;
    gap: 1.5rem;
    max-width: 23rem; }
  header .navbar .logo-container {
    width: 16rem; }
    header .navbar .logo-container .icons-header-perfil {
      position: relative;
      width: 12rem;
      height: 4rem;
      display: flex; }
      header .navbar .logo-container .icons-header-perfil .user-btn {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        justify-content: flex-start;
        padding: 10px 20px; }
      header .navbar .logo-container .icons-header-perfil .login-text {
        display: flex;
        align-items: center;
        align-self: center;
        justify-items: center;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 50px;
        color: #ffffff;
        font-size: 12px; } }

.footer {
  margin-top: 8rem;
  background: #111111;
  padding: 8rem 2.4rem 1.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem; }
  .footer-information {
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    column-gap: 12rem;
    row-gap: 5rem;
    margin: 0 auto;
    justify-content: space-between; }
    .footer-information .footer-menu {
      display: flex;
      flex-flow: row wrap;
      row-gap: 5rem;
      column-gap: 12rem; }
      .footer-information .footer-menu .first-block {
        display: flex;
        flex-flow: row wrap;
        gap: 10rem; }
        .footer-information .footer-menu .first-block .options-menu {
          display: flex;
          flex-direction: column;
          row-gap: 1.6rem; }
          .footer-information .footer-menu .first-block .options-menu h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #c4c4c4;
            opacity: 0.5; }
          .footer-information .footer-menu .first-block .options-menu__items a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;
            color: #ffffff; }
    .footer-information .social-networks {
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem; }
      .footer-information .social-networks h4 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #c4c4c4;
        opacity: 0.5; }
      .footer-information .social-networks-logos {
        display: flex;
        column-gap: 1.6rem; }
        .footer-information .social-networks-logos__links {
          width: 4.5rem;
          height: auto; }
          .footer-information .social-networks-logos__links img {
            width: 100%;
            height: auto; }
            .footer-information .social-networks-logos__links img:hover {
              animation: scale-up 0.8s linear both; }
  .footer .copy-right p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #ffffff;
    opacity: 0.4;
    text-align: center; }

/* PAGES */
.banner {
  padding: 16rem 0 3.2rem;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto; }
  .banner .shoes-container {
    animation: bobble 8s infinite;
    position: relative; }
    .banner .shoes-container__left {
      position: absolute;
      left: -6.34%;
      top: 25%;
      transform: rotate(30deg); }
    .banner .shoes-container__right {
      position: absolute;
      right: 0%;
      top: 55%;
      transform: matrix(-1.5, 1, 1, 1.5, 1, 1); }
  .banner-description {
    padding-top: 22rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem; }
    .banner-description h1 {
      max-width: 300px;
      margin: 0 auto;
      text-align: center; }
    .banner-description p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #111111;
      text-align: center;
      max-width: 280px;
      margin: 0 auto; }
    .banner-description button {
      width: 250px;
      background-color: #111111;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
      .banner-description button p {
        padding: 1.6rem;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF; }

.categories {
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .categories article {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    justify-content: center; }
  .categories-specific__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem; }
    .categories-specific__container .categories-specific {
      padding: 3rem;
      width: 32.5rem;
      height: 32.5rem;
      background: #111111;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .categories-specific__container .categories-specific h2 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        letter-spacing: -0.02em;
        color: #FFFFFF; }
      .categories-specific__container .categories-specific .description {
        display: flex;
        column-gap: 1rem;
        align-items: center; }
        .categories-specific__container .categories-specific .description p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #FFFFFF;
          margin: 0; }
        .categories-specific__container .categories-specific .description :hover {
          animation: scale-up 0.75s linear both; }
      .categories-specific__container .categories-specific:hover {
        animation: scale-up 0.8s linear both; }

.carousel-products {
  padding: 3.2rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem; }
  .carousel-products .product-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .carousel-products .product-list .product-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      max-width: 30rem; }
      .carousel-products .product-list .product-container .imgShoes {
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border-radius: 10px; }
      .carousel-products .product-list .product-container:hover {
        animation: scale-up 0.8s linear both; }
      .carousel-products .product-list .product-container .product-info {
        text-align: center; }
      .carousel-products .product-list .product-container h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0; }
      .carousel-products .product-list .product-container p {
        font-size: 1.2rem;
        margin: 0; }

.information {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; }
  .information h2 {
    text-align: center;
    max-width: 250px;
    margin: 0 auto; }
  .information p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #111111;
    max-width: 300px;
    margin: 0 auto; }
  .information button {
    width: 250px;
    border: 2px solid #111111;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    .information button p {
      padding: 1.6rem 3.2rem; }
