/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@400;500&display=swap");
/* MISC */
/* VARIABLE */
/* Palette */
/* Font Sizes */
/* Spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #111111;
  background-color: #FFFFFF;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  text-decoration: none;
  color: #111111; }

button {
  background: none;
  border: none;
  cursor: pointer; }

/* PARTIALS */
header {
  padding: 2.5rem;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0 0 7px #7b7b7b;
  position: fixed;
  z-index: 999; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    header .navbar .menu {
      display: none; }
    header .navbar .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 9rem; }
      header .navbar .logo-container .icons-header {
        width: 2.8rem;
        height: auto; }

/* PAGES */
